extends layouts/main.pug

block page
  h1.ui.header Login
  p
    .ui.fluid.icon.input
      input(placeholder="Username",type="text")
      i.icon.search
  p
    .ui.fluid.icon.input
      input(placeholder="Password",type="password")
      i.icon.search
  p
    a.ui.fluid.positive.button Login