extends directoryView.pug
block Discussions
  if discussions && discussions.length
    each disc in discussions
      if bam != 0
        .ui.divider
      - bam++;
      .item
        .content
          a
            img.left.floated.ui.mini.spaced.rounded.image(src="/images/elliot.jpg")
          a(href="/"+disc._id.toString())
            h3.ui.header
              | #{disc.title}
              .sub.header Test description
        a(href="/"+disc._id.toString())
          .ui.right.floated.horizontal.list
            .item
              i.icon.comment.link
                p 42
            .item
              i.icon.thumbs.up.link
                p 32
  else if !directory.category
    p(style="text-align:center;") No discussions posted.
  if !directory.category
    p(style="text-align:center;")
      a.ui.primary.button(href="/createDiscussion?directory="+directory._id.toString()) Start discussion