extends directoryView.pug
block Discussions
  if directory.discussions && directory.discussions.length
    each disc in directory.discussions
      .item
        .content
          a
            img.left.floated.ui.mini.spaced.rounded.image(src="/images/elliot.jpg")
          a.ajax(href="/"+disc._id.toString(),data-href=disc._id.toString(),data-ui="discussionView",data-target=".primaryView")
            h3.ui.header
              | #{disc.name}
              .sub.header #{disc.text.substring(0,150)}...
        a.ajax(href="/"+disc._id.toString(),data-href=disc._id.toString(),data-ui="discussionView",data-target=".primaryView")
          .ui.right.floated.horizontal.list
            .item
              i.icon.comment.link
                p 42
            .item
              i.icon.thumbs.up.link
                p 32
  else if !directory.category
    p(style="text-align:center;") No discussions posted.
  if !directory.category && directory.permissions && (directory.permissions&0x2)==0x2
    p(style="text-align:center;")
      a.ui.primary.button(href="/"+directory._id.toString()+"/create") Start discussion