if statistics
  h4.ui.inverted.header Statistics
  .ui.statistics.three
    .ui.inverted.statistic
      .value
        | #{statistics.online}
      .label
        | Online
    .ui.inverted.statistic
      .value
        | 22
      .label
        | Members
    .ui.inverted.statistic
      .value
        | #{statistics.discussions}
      .label
        | Discussions